In [ ]:
# Data from PHMSA: https://www.phmsa.dot.gov/data-and-statistics/pipeline/annual-report-mileage-hazardous-liquid-or-carbon-dioxide-systems

In [1]:
import pandas as pd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
# Load in data
df_gas_distribution = pd.read_csv('../data/source/PHMSA_Pipeline_Mileage_Annual/gas-distribution.csv')
df_gas_transmi_gather = pd.read_csv('../data/source/PHMSA_Pipeline_Mileage_Annual/gas-transmission-gathering.csv')
df_hazardous_liquid = pd.read_csv('../data/source/PHMSA_Pipeline_Mileage_Annual/hazardous-liquid.csv')
# df_lng = pd.read_csv('../data/source/PHMSA_Pipeline_Mileage_Annual/liquified-natural-gas.csv')

In [4]:
# Add column to ID each dataframe
df_gas_distribution['type'] = 'Gas Distribution'
df_gas_transmi_gather['type'] = 'Gas Transmission and Gathering'
df_hazardous_liquid['type'] = 'Hazardous Liquid'

In [9]:
# Rename columns with total values for concat later

df_gas_distribution = df_gas_distribution.rename(columns={'TOTAL DISTRIBUTION MAIN AND ESTIMATED SERVICE MILEAGE': 'total_mi'})
df_gas_transmi_gather = df_gas_transmi_gather.rename(columns={'PIPE TOTAL': 'total_mi'})
df_hazardous_liquid = df_hazardous_liquid.rename(columns={'PIPE TOTAL': 'total_mi'})

In [12]:
# Keep only year, type and total_mi columns, and concat all

df_gas_distribution = df_gas_distribution[['YEAR', 'type', 'total_mi']]
df_gas_transmi_gather = df_gas_transmi_gather[['YEAR', 'type', 'total_mi']]
df_hazardous_liquid = df_hazardous_liquid[['YEAR', 'type', 'total_mi']]

df = pd.concat([df_gas_distribution, df_gas_transmi_gather, df_hazardous_liquid])
df.columns = df.columns.str.lower()
df.type.unique()

array(['Gas Distribution', 'Gas Transmission and Gathering',
       'Hazardous Liquid'], dtype=object)

In [13]:
# convert total_mi to numbers
df['total_mi'] = df.total_mi.str.replace(',', '').astype('float')

In [14]:
# reshape data
df_pivot = df.pivot(index='year', columns='type', values='total_mi').reset_index()
df_pivot

type  year  Gas Distribution  Gas Transmission and Gathering  Hazardous Liquid
0     1984         1229485.0                        321915.0               NaN
1     1985         1315017.0                        325933.0               NaN
2     1986         1351985.0                        321653.0               NaN
3     1987         1352087.0                        323988.0               NaN
4     1988         1467704.0                        315859.0               NaN
5     1989         1417499.0                        320070.0               NaN
6     1990         1546955.0                        324331.0               NaN
7     1991         1560633.0                        326575.0               NaN
8     1992         1536382.0                        324097.0               NaN
9     1993         1612973.0                        325319.0               NaN
10    1994         1739152.0                        332861.0               NaN
11    1995         1700449.0                        327878.0               NaN
12    1996         1694925.0                        313218.0               NaN
13    1997         1734443.0                        328777.0               NaN
14    1998         1818184.0                        331874.0               NaN
15    1999         1764724.0                        328335.0               NaN
16    2000         1788100.0                        326518.0               NaN
17    2001         1838359.0                        311391.0               NaN
18    2002         1899845.0                        325741.0               NaN
19    2003         1872748.0                        324492.0               NaN
20    2004         1925748.0                        327994.0          166669.0
21    2005         1962351.0                        324222.0          166760.0
22    2006         2022474.0                        321222.0          166719.0
23    2007         2025731.0                        321108.0          169846.0
24    2008         2075191.0                        322913.0          173789.0
25    2009         2086689.0                        324936.0          175965.0
26    2010         2102483.0                        324432.0          181986.0
27    2011         2121355.0                        324347.0          183575.0
28    2012         2138000.0                        319926.0          186221.0
29    2013         2149819.0                        320257.0          192412.0
30    2014         2169375.0                        319354.0          199795.0
31    2015         2190257.0                        318949.0          208622.0
32    2016         2211522.0                        318218.0          212164.0
33    2017         2226053.0                        318832.0          216052.0
34    2018         2238709.0                        319542.0          219137.0
35    2019         2262931.0                        320101.0          225001.0
36    2020         2284132.0                        319221.0          229282.0
37    2021         2299606.0                        318441.0               NaN

In [16]:
# create total column
df_pivot['total'] = df_pivot['Gas Distribution'] + df_pivot['Gas Transmission and Gathering'] + df_pivot['Hazardous Liquid']

df_pivot

type,year,Gas Distribution,Gas Transmission and Gathering,Hazardous Liquid,total
0,1984,1229485.0,321915.0,NaN,NaN
1,1985,1315017.0,325933.0,NaN,NaN
2,1986,1351985.0,321653.0,NaN,NaN
3,1987,1352087.0,323988.0,NaN,NaN
4,1988,1467704.0,315859.0,NaN,NaN
5,1989,1417499.0,320070.0,NaN,NaN
6,1990,1546955.0,324331.0,NaN,NaN
7,1991,1560633.0,326575.0,NaN,NaN
8,1992,1536382.0,324097.0,NaN,NaN
9,1993,1612973.0,325319.0,NaN,NaN
10,1994,1739152.0,332861.0,NaN,NaN
11,1995,1700449.0,327878.0,NaN,NaN
12,1996,1694925.0,313218.0,NaN,NaN
13,1997,1734443.0,328777.0,NaN,NaN
14,1998,1818184.0,331874.0,NaN,NaN
15,1999,1764724.0,328335.0,NaN,NaN
16,2000,1788100.0,326518.0,NaN,NaN
17,2001,1838359.0,311391.0,NaN,NaN
18,2002,1899845.0,325741.0,NaN,NaN
19,2003,1872748.0,324492.0,NaN,NaN
20,2004,1925748.0,327994.0,166669.0,2420411.0
21,2005,1962351.0,324222.0,166760.0,2453333.0
22,2006,2022474.0,321222.0,166719.0,2510415.0
23,2007,2025731.0,321108.0,169846.0,2516685.0
24,2008,2075191.0,322913.0,173789.0,2571893.0
25,2009,2086689.0,324936.0,175965.0,2587590.0
26,2010,2102483.0,324432.0,181986.0,2608901.0
27,2011,2121355.0,324347.0,183575.0,2629277.0
28,2012,2138000.0,319926.0,186221.0,2644147.0
29,2013,2149819.0,320257.0,192412.0,2662488.0
30,2014,2169375.0,319354.0,199795.0,2688524.0
31,2015,2190257.0,318949.0,208622.0,2717828.0
32,2016,2211522.0,318218.0,212164.0,2741904.0
33,2017,2226053.0,318832.0,216052.0,2760937.0
34,2018,2238709.0,319542.0,219137.0,2777388.0
35,2019,2262931.0,320101.0,225001.0,2808033.0
36,2020,2284132.0,319221.0,229282.0,2832635.0
37,2021,2299606.0,318441.0,NaN,NaN

In [17]:
df_pivot.to_csv('../data/processed/pipeline-mileage-over-time.csv', index=False)