# Selecting areas of interest for our reporting - incidents after 2010, pipelines installed after 2010

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_raw = pd.read_csv('../data/processed/pipeline_incidents_2010_present_all_CLEAN.csv')
df_raw.head()

,datafile_as_of,ff,significant,serious,report_number,supplemental_number,report_received_date,report_type,operator_id,name,operator_street_address,operator_city_name,operator_state_abbreviation,operator_postal_code,local_datetime,time_zone,daylight_savings_ind,iyear,location_street_address,location_city_name,location_county_name,location_state_abbreviation,location_postal_code,location_latitude,location_longitude,total_cost,total_cost_current,injury_ind,injure,num_pub_evacuated,fatal,cause,cause_details,narrative,unintentional_release,installation_year
0,2/28/22,NO,YES,NO,20100001,15047,3/11/10,SUPPLEMENTAL FINAL,15007,PACIFIC GAS & ELECTRIC CO,"PG&E - GAS OPERATIONS, REGULATORY COMPLIANCE 6...",SAN RAMON,CA,94583,2/13/10 23:35,NaN,NaN,2010,1617 EAST 9TH STREET,STOCKTON,SAN JOAQUIN,CA,95201,37.93188,-121.26133,102500,124764.082311,NO,0,0.0,0,OTHER OUTSIDE FORCE DAMAGE,OTHER OUTSIDE FORCE DAMAGE,A FIRE AT AN UNOCCUPIED HOME OCCURRED AT APPRO...,10.0,NaN
1,2/28/22,NO,NO,NO,20100002,15553,3/12/10,SUPPLEMENTAL FINAL,13730,NORTHERN INDIANA PUBLIC SERVICE CO,801 E 86TH AVENUE,MERRILLVILLE,IN,46410,2/16/10 10:38,NaN,NaN,2010,3835 SANDPIPER COVE RUN,SOUTH BEND,ST. JOSEPH,IN,46628,41.72931,-86.27531,57500,68334.121206,NO,0,20.0,0,EXCAVATION DAMAGE,EXCAVATION DAMAGE BY THIRD PARTY,"CONTRACTOR BORING ELECTRIC LINE PARALLEL TO 3""...",310.0,1990-01-01
2,2/28/22,NO,NO,NO,20100003,15023,3/15/10,SUPPLEMENTAL FINAL,31840,UNISOURCE ENERGY SERVICES,2901 W. SHAMRELL BLVD.,FLAGSTAFF,AZ,86001,2/22/10 20:57,NaN,NaN,2010,8725 COUNTRY CLUB DRIVE,PINETOP,NAVAJO,AZ,85935,34.10934,-109.86010,2648,3173.508982,NO,0,NaN,0,NATURAL FORCE DAMAGE,OTHER NATURAL FORCE DAMAGE,ON 2/22/10 PINETOP FIRE DEPARTMENT RESPONDED T...,14.0,1999-01-01
3,2/28/22,NO,YES,YES,20100004,15003,3/16/10,ORIGINAL FINAL,13710,NORTHERN ILLINOIS GAS CO,"P.O. BOX 190, RT 59 & I-88",AURORA,IL,60507,2/18/10 19:05,NaN,NaN,2010,359 HAWTHORNE CIRCLE,MOUNT PROSPECT,COOK,IL,60056,42.03668,-87.94307,22005,26781.407382,YES,1,NaN,0,CORROSION FAILURE,EXTERNAL CORROSION,CREW WAS DIGGING A HOLE TO FIX A SERVICE LINE ...,1.0,1976-01-01
4,2/28/22,NO,YES,YES,20100005,15639,3/22/10,SUPPLEMENTAL FINAL,6141,NEW MEXICO GAS COMPANY,"7120 WYOMING BLVD. NE STE, 20",ALBUQUERQUE,NM,87109,2/21/10 1:38,NaN,NaN,2010,303 COUNTY RD. 6100,KIRTLAND,SAN JUAN,NM,87417,36.74350,-108.33380,4843,5871.773935,YES,1,0.0,0,OTHER OUTSIDE FORCE DAMAGE,"DAMAGE BY CAR, TRUCK, OR OTHER MOTORIZED VEHIC...",A SAN JUAN COUNTY DEPUTY SHERIFF WAS IN PURSUI...,5625.0,NaN

In [3]:
# Convert installation_year column to datetime
df_raw['installation_year'] = pd.to_datetime(df_raw['installation_year'], format='%Y-%m-%d')

In [4]:
# Filter install_year to post 2010
df = df_raw[df_raw.installation_year >= '2010-01-01']

## Cities with most pipeline accidents

In [5]:
df.location_city_name.value_counts().head(20)

DALLAS                       4
Not Within a Municipality    3
HOUSTON                      2
NEW YORK                     2
ATLANTA                      2
CHICAGO                      2
SAN FRANCISCO                2
DURHAM                       2
FORT WORTH                   2
AUSTIN                       1
BELLEVUE                     1
WAPPINGERS FALLS             1
ABERDEEN                     1
LOS ANGELES                  1
MARIETTA                     1
EXCELSIOR                    1
MIAMI BEACH                  1
PEPPER PIKE                  1
NORTH BERGEN                 1
BROOKLYN                     1
Name: location_city_name, dtype: int64

## Cities with highest total costs for pipeline accidents (adjusted for inflation)
total_cost variable would give us the estimated total cost

In [6]:
df_highest_cost = df.groupby(['location_city_name', 'location_state_abbreviation']).total_cost_current.agg(['sum', 'count']).reset_index()
df_highest_cost.sort_values('sum', ascending=False).head(20)

    location_city_name location_state_abbreviation           sum  count
5              ATLANTA                          GA  1.033171e+07      2
101        PEPPER PIKE                          OH  9.307204e+06      1
79          MELVINDALE                          MI  6.073367e+06      1
23              CANTON                          IL  4.841442e+06      1
87            NEW YORK                          NY  3.651720e+06      2
69            LAWRENCE                          MA  2.749868e+06      1
13              BERWYN                          IL  2.522560e+06      1
41       ELLICOTT CITY                          MD  1.915530e+06      1
139           WOODBURY                          MN  1.587926e+06      1
110      SAN FRANCISCO                          CA  1.182680e+06      2
129          VICKSBURG                          MS  1.085575e+06      1
34              DALLAS                          TX  1.014738e+06      4
104            RALEIGH                          NC  8.354020e+05      1
119        SOUTH POINT                          OH  8.204682e+05      1
105           RATHDRUM                          ID  7.781990e+05      1
137            WINDSOR                          CO  7.247200e+05      1
4                 ALTA                          UT  6.865926e+05      1
3                ALLEN                          TX  6.501000e+05      1
117             SIDNEY                          OH  5.981692e+05      1
39             DUNMORE                          PA  5.976067e+05      1

## Cities with highest fatalities and injuries

In [7]:
df_injure_fatal = df.groupby(['location_city_name', 'location_state_abbreviation']).agg({'fatal' : ['sum'], 'injure' : ['sum', 'count']})
df_injure_fatal.head(2)

                                               fatal injure
                                                 sum    sum count
location_city_name location_state_abbreviation
ABERDEEN           ID                              0      0     1
ADDIS              LA                              0      1     1

In [8]:
# remove multi index
df_injure_fatal.columns = df_injure_fatal.columns.droplevel()
df_injure_fatal = df_injure_fatal.reset_index()

# rename columns
df_injure_fatal.columns = ['location_city_name',
                           'location_state_abbreviation',
                           'fatal_sum',
                           'injure_sum',
                           'accident_count']


df_injure_fatal.head()

,location_city_name,location_state_abbreviation,fatal_sum,injure_sum,accident_count
0,ABERDEEN,ID,0,0,1
1,ADDIS,LA,0,1,1
2,AKRON,OH,0,0,1
3,ALLEN,TX,0,0,1
4,ALTA,UT,0,0,1

In [9]:
# Cities with most injuries
df_injure_fatal.sort_values('injure_sum', ascending=False).head(20)

,location_city_name,location_state_abbreviation,fatal_sum,injure_sum,accident_count
87,NEW YORK,NY,8,48,2
36,DETROIT,MI,0,6,1
23,CANTON,IL,1,4,1
74,LOST HILLS,CA,0,3,1
19,BROOKLYN,NY,0,2,1
123,SWIFTWATER,PA,1,2,1
34,DALLAS,TX,0,2,4
9,BAYONNE,NJ,0,2,1
70,LAWRENCE TWP.,NJ,0,1,1
79,MELVINDALE,MI,0,1,1
25,CHICAGO,IL,0,1,2
120,SPICEWOOD,TX,0,1,1
104,RALEIGH,NC,0,1,1
112,SANTA FE,NM,0,1,1
110,SAN FRANCISCO,CA,0,1,2
57,HOLLAND,IN,0,1,1
93,Not Within a Municipality,IA,0,1,1
85,NEW ROCHELLE,NY,0,1,1
1,ADDIS,LA,0,1,1
73,LOS ANGELES,CA,1,1,1

In [10]:
# Cities with most fatalities
df_injure_fatal.sort_values('fatal_sum', ascending=False).head(20)

,location_city_name,location_state_abbreviation,fatal_sum,injure_sum,accident_count
87,NEW YORK,NY,8,48,2
123,SWIFTWATER,PA,1,2,1
65,LAKE CHARLES,LA,1,0,1
39,DUNMORE,PA,1,0,1
17,BRADENTON,FL,1,1,1
62,JACKSONVILLE,AR,1,0,1
23,CANTON,IL,1,4,1
73,LOS ANGELES,CA,1,1,1
99,PAGOSA SPRINGS,CO,0,0,1
100,PALATKA,FL,0,0,1
98,OTTAWA LAKE,MI,0,0,1
91,NORTH LAS VEGAS,NV,0,0,1
101,PEPPER PIKE,OH,0,0,1
96,OSPREY,FL,0,0,1
95,OMAHA,NE,0,0,1
94,Not Within a Municipality,ID,0,0,1
93,Not Within a Municipality,IA,0,1,1
102,PHOENIX,AZ,0,0,1
103,PITTSBURGH,PA,0,0,1
92,Not Within a Municipality,DC,0,0,1

## Incidents with highest fatalities and injuries

In [11]:
# Specific incidents with most fatalities
df.sort_values('fatal', ascending=False).head(10)

,datafile_as_of,ff,significant,serious,report_number,supplemental_number,report_received_date,report_type,operator_id,name,operator_street_address,operator_city_name,operator_state_abbreviation,operator_postal_code,local_datetime,time_zone,daylight_savings_ind,iyear,location_street_address,location_city_name,location_county_name,location_state_abbreviation,location_postal_code,location_latitude,location_longitude,total_cost,total_cost_current,injury_ind,injure,num_pub_evacuated,fatal,cause,cause_details,narrative,unintentional_release,installation_year
450,2/28/22,NO,YES,YES,20140031,16185,4/11/14,SUPPLEMENTAL FINAL,2704,CONSOLIDATED EDISON CO OF NEW YORK,4 IRVING PLACE,NEW YORK,NY,10003,3/12/14 9:31,NaN,NaN,2014,1644/1646 PARK AVENUE,NEW YORK,NEW YORK,NY,10035-4645,40.799726,-73.943401,2960200,3.339637e+06,YES,48,100.0,8,NATURAL FORCE DAMAGE,"EARTH MOVEMENT, NOT DUE TO HEAVY RAINS/FLOODS","DESCRIPTION OF INCIDENT: ON MARCH 12, 2014 ...",30.0,2011-01-01
2110,2/28/22,NaN,YES,YES,20160054,31659,6/30/16,SUPPLEMENTAL FINAL,31594,SOUTHCROSS CCNG TRANSMISSION LTD,2103 CITYWEST BLVD. SUITE 900,HOUSTON,TX,77042,4/12/16 12:15,NaN,NaN,2016,NaN,NaN,NaN,NaN,NaN,28.173489,-97.283219,1845,1.705755e+03,YES,1,0.0,2,EQUIPMENT FAILURE,OTHER EQUIPMENT FAILURE,THE INCIDENT OCCURRED DURING THE COMPLETION OF...,738.0,2016-01-01
53,2/28/22,YES,NO,NO,20100062,15530,8/17/10,SUPPLEMENTAL FINAL,18484,SOUTHERN CALIFORNIA GAS CO,555 WEST FIFTH STREET,LOS ANGELES,CA,90013,7/30/10 6:49,NaN,NaN,2010,890 E 59TH STREET,LOS ANGELES,LOS ANGELES,CA,90001,33.986780,-118.259640,2000,2.434421e+03,YES,1,100.0,1,OTHER OUTSIDE FORCE DAMAGE,"NEARBY INDUSTRIAL, MAN-MADE, OR OTHER FIRE/EXP...","ON JULY 30, AT APPROXIMATELY 6:50 AM, AN EXPLO...",0.0,2010-01-01
1830,2/28/22,NaN,YES,YES,20140071,16460,6/30/14,SUPPLEMENTAL FINAL,31968,WTG GAS TRANSMISSION COMPANY,303 VETERANS AIRPARK LANE,MIDLAND,TX,79705,6/1/14 19:45,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,32.220428,-102.104747,7970,8.991874e+03,NO,0,0.0,1,EQUIPMENT FAILURE,THREADED CONNECTION/COUPLING FAILURE,WTG GAS TRANSMISSION COMPANY WAS IN THE PROCES...,0.0,2013-01-01
1134,2/28/22,NO,YES,YES,20200057,34645,6/18/20,SUPPLEMENTAL FINAL,4499,CENTERPOINT ENERGY RESOURCES CORPORATION,1111 LOUISIANA ST,HOUSTON,TX,77002,5/28/20 14:03,CENTRAL,YES,2020,401 WEST MCNEESE ST,LAKE CHARLES,CALCASIEU,LA,70605,30.175900,-93.224400,73854,7.532606e+04,NO,0,0.0,1,OTHER OUTSIDE FORCE DAMAGE,"DAMAGE BY CAR, TRUCK, OR OTHER MOTORIZED VEHIC...",VEHICLE LEFT THE ROADWAY AND MADE IMPACT TO CE...,11.0,2012-01-01
1197,2/28/22,NO,YES,YES,20210001,35863,1/2/21,SUPPLEMENTAL FINAL,15348,PEOPLES GAS SYSTEM INC,PO BOX 2562,TAMPA,FL,33601,12/3/20 17:11,EASTERN,NO,2020,8TH STREET CT. WEST @ 30TH AVENUE WEST,BRADENTON,MANATEE,FL,34205,27.473781,-82.570472,128973,1.315322e+05,YES,1,205.0,1,EXCAVATION DAMAGE,EXCAVATION DAMAGE BY THIRD PARTY,"DAMAGED 2"" PE MAIN BY THIRD PARTY NEXT GENERAT...",224.0,2014-01-01
1206,2/28/22,NO,YES,YES,20210013,34759,1/24/21,ORIGINAL,20010,"UGI UTILITIES, INC",1 UGI DRIVE,DENVER,PA,17517,12/25/20 1:30,EASTERN,NO,2020,117 LOWER SWIFTWATER ROAD,SWIFTWATER,MONROE,PA,18370,41.095368,-75.326474,62165,6.336155e+04,YES,2,2.0,1,OTHER INCIDENT CAUSE,UNKNOWN,"AT APPROXIMATELY 1:44 AM DECEMBER 25, 2020, UG...",975.0,2019-01-01
1219,2/28/22,NO,YES,YES,20210028,34968,3/8/21,SUPPLEMENTAL FINAL,603,CENTERPOINT ENERGY RESOURCES CORP.,1400 CENTERVIEW DR SUITE 100,LITTLE ROCK,AR,72211,2/6/21 17:28,CENTRAL,NO,2021,1900 BLOCK OF HWY 161,JACKSONVILLE,PULASKI,AR,72076,34.849640,-92.116340,8490,8.490000e+03,NO,0,0.0,1,OTHER OUTSIDE FORCE DAMAGE,"DAMAGE BY CAR, TRUCK, OR OTHER MOTORIZED VEHIC...",A VEHICLE HEADING NORTH ON HWY 161 LOST CONTRO...,876.0,2020-01-01
526,2/28/22,NO,YES,YES,20150001,30418,1/2/15,SUPPLEMENTAL FINAL,15259,UGI PENN NATURAL GAS,1 UGI DRIVE,DENVER,PA,17517,12/4/14 3:51,NaN,NaN,2014,413 SMITH STREET,DUNMORE,LACKAWANNA,PA,18512,41.414137,-75.625221,530300,5.976067e+05,NO,0,45.0,1,OTHER OUTSIDE FORCE DAMAGE,OTHER OUTSIDE FORCE DAMAGE,"ON DECEMBER 4, 2014, BETWEEN 1:00 AM AND 2:23 ...",395.0,2014-01-01
3648,2/28/22,NaN,YES,YES,20120198,17443,6/29/12,SUPPLEMENTAL,14194,"OILTANKING, HOUSTON LP","9805 KATY FREEWAY, SUITE 400",HOUSTON,TX,77024,6/2/12 8:10,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,29.747769,-95.129993,0,0.000000e+00,YES,1,0.0,1,OTHER INCIDENT CAUSE,UNKNOWN,ON 6-2-2012 ( SATURDAY ) A CONTRACTOR WAS WELD...,NaN,2012-01-01

In [12]:
# Specific incidents with most injuries
df.sort_values('injure', ascending=False).head(10)

,datafile_as_of,ff,significant,serious,report_number,supplemental_number,report_received_date,report_type,operator_id,name,operator_street_address,operator_city_name,operator_state_abbreviation,operator_postal_code,local_datetime,time_zone,daylight_savings_ind,iyear,location_street_address,location_city_name,location_county_name,location_state_abbreviation,location_postal_code,location_latitude,location_longitude,total_cost,total_cost_current,injury_ind,injure,num_pub_evacuated,fatal,cause,cause_details,narrative,unintentional_release,installation_year
450,2/28/22,NO,YES,YES,20140031,16185,4/11/14,SUPPLEMENTAL FINAL,2704,CONSOLIDATED EDISON CO OF NEW YORK,4 IRVING PLACE,NEW YORK,NY,10003,3/12/14 9:31,NaN,NaN,2014,1644/1646 PARK AVENUE,NEW YORK,NEW YORK,NY,10035-4645,40.799726,-73.943401,2960200,3.339637e+06,YES,48,100.0,8,NATURAL FORCE DAMAGE,"EARTH MOVEMENT, NOT DUE TO HEAVY RAINS/FLOODS","DESCRIPTION OF INCIDENT: ON MARCH 12, 2014 ...",30.00,2011-01-01
455,2/28/22,NO,YES,YES,20140039,16146,5/15/14,SUPPLEMENTAL FINAL,12408,DTE GAS COMPANY,ONE ENERGY PLAZA,DETROIT,MI,48226,3/27/14 20:07,NaN,NaN,2014,19717 FAIRPORT,DETROIT,WAYNE,MI,48205-1723,42.440755,-82.991686,33348,3.762371e+04,YES,6,0.0,0,OTHER OUTSIDE FORCE DAMAGE,INTENTIONAL DAMAGE,"AT 20:07, ON THURSDAY, MARCH 27, 2014, DTE GAS...",0.00,2011-01-01
734,2/28/22,NO,YES,YES,20160126,31221,12/16/16,SUPPLEMENTAL FINAL,32513,AMEREN ILLINOIS COMPANY,10 EXECUTIVE DR.,COLLINSVILLE,IL,62234,11/16/16 17:44,NaN,NaN,2016,50 N. 1ST AVENUE,CANTON,FULTON,IL,61520,40.556604,-90.033663,4383446,4.841442e+06,YES,4,50.0,1,EXCAVATION DAMAGE,EXCAVATION DAMAGE BY THIRD PARTY,FINAL UPDATE 11/21/2018 - THE TOTAL DAMAGES IN...,33.29,2012-01-01
5851,2/28/22,NaN,YES,YES,20170302,31126,9/22/17,SUPPLEMENTAL FINAL,39706,SUNOCO PARTNERS MARKETING & TERMINALS LP,1300 MAIN STREET,HOUSTON,TX,77002,8/12/16 20:40,NaN,NaN,2016,NaN,NaN,NaN,NaN,NaN,29.998010,-93.989940,3505,3.871233e+03,YES,4,0.0,0,INCORRECT OPERATION,EQUIPMENT NOT INSTALLED PROPERLY,A CONSTRUCTION PROJECT WAS UNDERWAY TO TIE IN ...,NaN,2016-01-01
888,2/28/22,NO,YES,YES,20180058,33073,5/23/18,SUPPLEMENTAL FINAL,18484,SOUTHERN CALIFORNIA GAS CO,555 WEST FIFTH STREET,LOS ANGELES,CA,90013,4/23/18 15:45,NaN,NaN,2018,13210 HOLLOWAY ROAD,LOST HILLS,KERN,CA,93249,35.707755,-119.824190,60005,6.371394e+04,YES,3,0.0,0,INCORRECT OPERATION,OTHER INCORRECT OPERATION,"AT APPROXIMATELY 3:50 PM, ON MONDAY 04-23-2018...",0.87,2018-01-01
6352,2/28/22,NaN,YES,YES,20180382,32252,12/10/18,SUPPLEMENTAL FINAL,31130,DCP MIDSTREAM,6900 E. LAYTON AVE. SUITE 900,DENVER,CO,80237-3658,11/10/18 14:18,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,30.351556,-100.581792,15200000,1.613984e+07,YES,2,0.0,0,EXCAVATION DAMAGE,EXCAVATION DAMAGE BY THIRD PARTY,DCP CONTRACT LINE LOCATOR GUADALUPE VALDES PRO...,NaN,2013-01-01
1111,2/28/22,NO,YES,YES,20200030,33445,2/26/20,SUPPLEMENTAL FINAL,1800,KEYSPAN ENERGY DELIVERY - NY CITY,40 SYLVAN RD.,WALTHAM,MA,02451,1/28/20 10:00,NaN,NaN,2020,BAY RIDGE PARKWAY & 19TH AVENUE,BROOKLYN,KINGS,NY,11204,40.612236,-73.993575,19696,2.008691e+04,YES,2,0.0,0,INCORRECT OPERATION,DAMAGE BY OPERATOR OR OPERATOR'S CONTRACTOR NO...,GAS FIELD OPERATIONS SENIOR SUPERVISOR REPORTE...,21.50,2017-01-01
1206,2/28/22,NO,YES,YES,20210013,34759,1/24/21,ORIGINAL,20010,"UGI UTILITIES, INC",1 UGI DRIVE,DENVER,PA,17517,12/25/20 1:30,EASTERN,NO,2020,117 LOWER SWIFTWATER ROAD,SWIFTWATER,MONROE,PA,18370,41.095368,-75.326474,62165,6.336155e+04,YES,2,2.0,1,OTHER INCIDENT CAUSE,UNKNOWN,"AT APPROXIMATELY 1:44 AM DECEMBER 25, 2020, UG...",975.00,2019-01-01
662,2/28/22,NO,YES,YES,20160043,16789,4/29/16,SUPPLEMENTAL FINAL,15952,PUBLIC SERVICE ELECTRIC & GAS CO,80 PARK PLAZA M/C - T18,NEWARK,NJ,07102-4194,3/30/16 9:05,NaN,NaN,2016,CHOSIN FEW WAY,BAYONNE,HUDSON,NJ,07002,40.674182,-74.102086,0,0.000000e+00,YES,2,0.0,0,INCORRECT OPERATION,OTHER INCORRECT OPERATION,"ON MARCH 30, 2016, AT APPROXIMATELY 9:00 A.M. ...",0.00,2015-01-01
4173,2/28/22,NaN,YES,YES,20130355,20065,10/31/13,SUPPLEMENTAL FINAL,30829,ENTERPRISE CRUDE PIPELINE LLC,1100 LOUISIANA STREET,HOUSTON,TX,77002,9/30/13 18:45,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,28.949448,-95.430748,5000,5.750196e+03,YES,2,0.0,0,INCORRECT OPERATION,OTHER INCORRECT OPERATION,"AT THE TIME OF THE ACCIDENT, THE PIPELINE WAS ...",NaN,2013-01-01